<?xml version="1.0" ?>
<IrrRPG_Builder_Config version="1.0">
    <screen screen_width="1024" screen_height="768" fullscreen="false" resizeable="false" />
    <language type="fr-ca" />
    <terrain mesh="../media/land.obj" layer0="../media/L1.jpg" layer1="../media/L2.jpg" layer2="../media/L3.jpg" layer3="../media/L4.jpg" scale="1024" />
    <ocean mesh="../media/land.obj" normalmap="../media/waveNM.png" reflection="../media/sky.jpg" />
</IrrRPG_Builder_Config>
